// Place all the styles related to the creatures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-danger{
	margin-right: 2px;
}

.button-buffer{
	clear: both;
	margin: 2px;
	margin-bottom: 4px;
	border-color: #CDEBC3;
}

.panel-body{
	background-image: url(https://camo.githubusercontent.com/d8d8f9bfc51756015bf453c1222893d7ed6e56f2/687474703a2f2f6f72696731312e64657669616e746172742e6e65742f346233612f662f323031302f3038382f652f322f7377616d705f7468696e675f62795f6b696c6c626162796b696c6c2e6a7067)
}